.margin {
  margin: 100px;
}

.table {
  width: 100%;
  text-align: left;
}

.table td {
  padding-top: 10px;
  padding-bottom: 10px;
}

#main {
  background-color: #253A46;
  padding: 20px;
  font-style: 20px;
}

#main a {
  color: white;
  padding-right: 50px;
}

body {
  margin: 0;
}

.center {
  text-align: center;
}

.red {
  color: red;
}

.pub_title {
  border-top: 1px solid black;
}